<div class="selection contactForm hide">
  <h1 class="title"><b><%=translation.quase%>!</b> <%=translation.faltam%>.</h1>
  <h2 class="black-subtitle">
    <%=translation.media%> <br />
    <%=translation.fill%>:
  </h2>

  <div class="clientForm">
    <div>
      <input
        class="big-input-field"
        type="text"
        name="clientName"
        id="clientName"
        placeholder="*Name"
      />
    </div>

    <div>
      <input
        class="small-input-field"
        type="number"
        name="clientPhone"
        id="clientPhone"
        placeholder="*Phone"
      />

      <input
        class="small-input-field"
        type="text"
        name="clientEmail"
        id="clientEmail"
        placeholder="*Email"
      />
    </div>

    <div class="terms-conditions">
      <input
        type="checkbox"
        id="terms"
        name="checkbox-news"
        value="Condicoes"
        required=""
      />
      Accept terms & conditions
    </div>
  </div>

  <div class="continue-section">
    <button class="anterior anterior-step-4-logo">
      <%=translation.previous%>
    </button>
    <button id="continuar-step-4-logo" class="continuar">
      <%=translation.continuar%>
    </button>
  </div>
</div>
