<div class="selection extraInfo hide">
  <h1 class="title">5ยบ <%=translation.step%>: <%=translation.extra%></h1>
  <h2 class="black-subtitle"><%=translation.acrescentar%>?</h2>

  <div class="extraInfo-section">
    <textarea
      class="extraInfo-text"
      id="extraInfo-text"
      name="extraInfo"
      placeholder="Insert extra information"
    ></textarea>
  </div>

  <div class="continue-section">
    <button class="anterior anterior-step-5"><%=translation.previous%></button>
    <button id="continuar-step-5" class="continuar">
      <%=translation.continuar%>
    </button>
  </div>
</div>
