<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="title"
      content="Digiquot | Worldwide Digital Services Simulator"
    />
    <meta
      name="description"
      content="Simulate in seconds the price of several digital services, as Websites, Online Stores, Google Services and many others. Simulate now and receive as many proposals as you want."
    />
    <title>Digiquot</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-HTBRKHNHPW"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-HTBRKHNHPW');
  </script>

  <div class="choose-lang">
    <!-- <ul >
      <li><a  class="lang" class="<%=(lang=="es"?"active":"")%>" href="/?clang=es">Spanish</a></li>
      <li><a class="lang" class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">English</a></li>
      <li><a class="lang" class="<%=(lang=="pt"?"active":"")%>" href="/?clang=pt">Portuguese</a></li>
    </ul> 
   -->
  </div>
  <body>
    <script>
      AOS.init();
    </script>
    <nav>
      <div class="logo">
        <a href="/"
          ><img src="/imgs/Logo_Digiquot_Horizontal_PNG.png" alt=""
        /></a>
      </div>
      <ul class="nav-links">
        <li><a id="special" href="#"><%=translation.simulate%></a></li>
        <li><a href="#"><%=translation.whoWeAre%></a></li>
        <li><a href="#"><%=translation.goals%></a></li>
        <li><a href="/contacts"><%=translation.contacts%></a></li>

        <li>
          <select
            class="langs-dropdown"
            name="langs"
            id="langs"
            onchange="location = this.value;"
          >
            <option class="hide langs-dropdown" disabled selected>
              &#xf7a2;
            </option>
            <option value="/contacts/?clang=pt">Portuguese</option>
            <option value="/contacts/?clang=en">English</option>
            <option value="/contacts/?clang=es">Spanish</option>
          </select>
        </li>

        <!-- <li  id="lang1" class="li-langs hide"><a class="lang" class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">English</a></li>
        <li id="lang2" class="li-langs hide"><a class="lang" class="<%=(lang=="pt"?"active":"")%>" href="/?clang=pt">Portuguese</a></li>
        <li id="lang3" class="li-langs hide"><a  class="lang" class="<%=(lang=="es"?"active":"")%>" href="/?clang=es">Spanish</a></li> -->
      </ul>

      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
  </body>
</html>
