<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digiquote</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <div class="choose-lang">

    <!-- <ul >
      <li><a  class="lang" class="<%=(lang=="es"?"active":"")%>" href="/?clang=es">Spanish</a></li>
      <li><a class="lang" class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">English</a></li>
      <li><a class="lang" class="<%=(lang=="pt"?"active":"")%>" href="/?clang=pt">Portuguese</a></li>
    </ul> 
   -->

    
  </div>
  <body>
    <script>
      AOS.init();
    </script>
    <nav>
      <div class="logo ">
        <a href="/"><img src="/imgs/logo/header-logo-2.png" alt=""></a> 
      </div>
      <ul class="nav-links">
        <li><a id="special" href="#"><%=translation.simulate%></a></li>
        <li><a href="#"><%=translation.whoWeAre%></a></li>
        <li><a href="#"><%=translation.goals%></a></li>
        <li><a href="#"><%=translation.contacts%></a></li>
        <li class="dropdown">
          <div class="dropdown">
          <button class="dropbtn">Languages 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <ul>
              <li class="li-lang"><a class="lang" class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">English</a></li>
              <li class="li-lang"><a class="lang" class="<%=(lang=="pt"?"active":"")%>" href="/?clang=pt">Portuguese</a></li>
              <li class="li-lang"><a  class="lang" class="<%=(lang=="es"?"active":"")%>" href="/?clang=es">Spanish</a></li>
            </ul>
          </div>
          </div>
        </li>

        <li  id="lang1" class="li-langs hide"><a class="lang" class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">English</a></li>
        <li id="lang2" class="li-langs hide"><a class="lang" class="<%=(lang=="pt"?"active":"")%>" href="/?clang=pt">Portuguese</a></li>
        <li id="lang3" class="li-langs hide"><a  class="lang" class="<%=(lang=="es"?"active":"")%>" href="/?clang=es">Spanish</a></li>

      </ul>

      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>


  </body>
</html>
