<%- include("header") -%>
<section class="landing">
  <div class="landing-block-1" data-aos="zoom-in" data-aos-duration="1000">
    <p id="catch-phrase" class="subtitle"><%=translation.receive%></p>
    <p class="micro-title"><%=translation.gratis%></p>
    <a href="#simulator">
      <button class="green-button"><%=translation.simulate%></button></a
    >
  </div>
</section>
<section class="simulator">
  <div
    id="simulator"
    class="container-simulator"
    data-aos="zoom-in"
    data-aos-duration="1000"
  >
    <h1 id="simulator-title" class="title"><%=translation.welcome%></h1>
    <div class="services">
      <h2 id="simulator-subtitle" class="subtitle">
        <%=translation.paraComecar%>:
      </h2>
      <div>
        <button id="Logotipo" class="service">
          <img src="/imgs/icon-services-1-40x40.png" alt="" />
          <%=translation.logotipo%>
        </button>
        <button id="Website" class="service">
          <img src="/imgs/icon-services-2-40x40.png" alt="" />
          <%=translation.website%>
        </button>
        <button id="Online Store" class="service">
          <img src="/imgs/icon-services-5-40x40.png" alt="" />
          <%=translation.onlineStore%>
        </button>
      </div>
      <div>
        <button id="Social Networks" class="service">
          <img src="/imgs/icon-services-3-40x40.png" alt="" />
          <%=translation.networks%>
        </button>
        <button id="Google Ads" class="service">
          <img src="/imgs/icon-services-4-40x40.png" alt="" />
          <%=translation.ads%>
        </button>
        <button id="Google SEO" class="service">
          <img src="/imgs/icon-services-6-40x40.png" alt="" />
          <%=translation.seo%>
        </button>
      </div>

      <div>
        <button
          id="Cyber Security"
          style="margin-bottom: 2.5rem"
          class="service"
        >
          <img src="/imgs/icon-services-7-40x40.png" alt="" />
          <%=translation.cyber%>
        </button>
      </div>
    </div>
    <div class="services-block2">
      <p class="small-p"><%=translation.requiredService%></p>
      <button class="white-button" id="continuar-step-1">
        <%=translation.continuar%>
      </button>
    </div>

    <div class="wrapper hide" data-aos="zoom-in" data-aos-duration="1000">
      <div class="tracker">
        <div class="tracker-steps">
          <img src="/imgs/big-note-icon-white.png" alt="" />
          <h1 class="title" id="tracker-title"><%=translation.acompanhe%></h1>

          <div class="step-status status-step1 hide">
            <img src="/imgs/white-gree-check.png" alt="" />
            <span id="step-status1" class="micro-title-white"></span>
          </div>
          <div class="step-status status-step2 hide">
            <img src="/imgs/white-gree-check.png" alt="" />
            <span id="step-status2" class="micro-title-white"></span>
          </div>
          <div class="step-status status-step3 hide">
            <img src="/imgs/white-gree-check.png" alt="" />
            <span id="step-status3" class="micro-title-white"
              ><%=translation.servicesFill%></span
            >
          </div>
          <div class="step-status status-step4 hide">
            <img src="/imgs/white-gree-check.png" alt="" />
            <span id="step-status4" class="micro-title-white"
              ><%=translation.orcamentacao%></span
            >
          </div>
        </div>
        <div class="tracker-about">
          <img src="/imgs/Note-îcon.png" alt="" />
          <p class="smallp">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpa exerci tation ullamcorper suscipit lob.
          </p>
        </div>
      </div>
      <%- include("step2") -%> <%- include("logo") -%> <%-
      include("contactForm") -%> <%- include("cost") -%><%- include("website")
      -%><%- include("onlineStore") -%> <%- include("socialNetworks") -%> <%-
      include("seo") -%> <%- include("ads") -%> <%- include("cyber") -%> <%-
      include("extrainfo") -%>
    </div>
  </div>
</section>
<%- include("lastStep") -%>

<section
  class="section-horizontal"
  id="budgets"
  data-aos="zoom-in"
  data-aos-duration="1000"
>
  <h2 class="title-black"><%=translation.orcamentos%></h2>
</section>

<section
  class="section-horizontal"
  id="budgets-from"
  data-aos="zoom-in"
  data-aos-duration="1000"
>
  <div class="row">
    <img src="/imgs/homepage-icon-1-60x60px.png" alt="" />
    <h2 class="h2"><%=translation.agenciasdeWebDev%></h2>
  </div>
  <div class="row">
    <img src="/imgs/homepage-icon-2-60x60px.png" alt="" />
    <h2 class="h2"><%=translation.agenciasdeMKT%></h2>
  </div>
  <div class="row">
    <img src="/imgs/homepage-icon-3-60x60px.png" alt="" />
    <h2 class="h2"><%=translation.freelancers%></h2>
  </div>
</section>

<section class="section-horizontal" data-aos="zoom-in" data-aos-duration="1000">
  <div class="column-img img-column">
    <img src="/imgs/img-1-homepage.png" alt="" />
  </div>
  <div class="column">
    <h1 class="title"><%=translation.siga%></h1>
    <p class="body-p"><%=translation.text1%>.</p>
  </div>
</section>

<section class="section-horizontal" data-aos="zoom-in" data-aos-duration="1000">
  <div class="column-img">
    <h1 class="title"><%=translation.insira%></h1>
    <p class="body-p"><%=translation.text2%></p>
  </div>
  <div class="column img-column">
    <img src="/imgs/img-2-homepage.png" alt="" />
  </div>
</section>

<section
  class="section-horizontal test"
  data-aos="zoom-in"
  data-aos-duration="1000"
>
  <div class="column-img img-column">
    <img src="/imgs/img-2-homepage.png" alt="" />
  </div>
  <div class="column">
    <h1 class="title"><%=translation.receba%></h1>
    <p class="body-p">
      <%=translation.text31%> <br />
      <br />
      <%=translation.text32%> <br />
      <br />
      <%=translation.text33%> <br />
      <br />
      <%=translation.text34%><br />
      <br />
    </p>
  </div>
</section>

<section class="green-section" data-aos="zoom-in" data-aos-duration="1000">
  <div id="vertical1" class="vertical-block">
    <img src="/imgs/img-agency.png" alt="" />
    <p class="black-p"><%=translation.textAgency%></p>
    <a href="#simulator">
      <button class="orange-button"><%=translation.simulate%></button></a
    >
  </div>
  <div class="vertical-block">
    <img src="/imgs/freelancer-icon.png" alt="" />
    <p class="black-p"><%=translation.textFreelancer%></p>
    <a href="#simulator">
      <button class="orange-button"><%=translation.simulate%></button></a
    >
  </div>
</section>

<div
  style="
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div class="cookie-container">
    <%=translation.cookies%>
    <button id="cookie-accept"><%=translation.accept%></button>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>

<%- include("footer") -%>
