<section class="last-section hide">
  <div class="selection lastStep">
    <h1 id="finish-title">Digiquot</h1>

    <h2 id="finish-subtitle">
      <%=translation.OBRIGADO%>. <br />
      <%=translation.concluiu%>.
    </h2>
    <h3 id="finish-subsubtitle">
      <%=translation.recebera%> <b>email</b> <%=translation.ou%>
      <b><%=translation.telefone%></b>.
    </h3>
    <button class="orange-big-button" id="voltar-inicio">
      <%=translation.outrosServicos%>
    </button>
    <div class="line"></div>

    <p class="lorem">
      <span><img src="/imgs/Note-îcon.png" alt="" /></span>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa exerci
      tation ullamcorper suscipit lob.
    </p>
  </div>
</section>
