<div class="selection logotipo hide">
  <h1 class="title">3º <%=translation.step%>: <%=translation.logotipo%></h1>
  <h2 class="black-subtitle"><%=translation.escolheuLogo%></h2>

  <div class="logoTipologias">
    <div>
      <button id="Tipografico" class="selection-button tipologiasLogo">
        <img src="/imgs/texto-icon.png" alt="" />
        <%=translation.tipografico%>
      </button>
      <button id="Símbolo" class="selection-button tipologiasLogo">
        <img src="/imgs/imagem-icon.png" alt="" /> <%=translation.simbolo%>
      </button>
    </div>
    <div>
      <button id="Symbol and Typography" class="selection-button tipologiasLogo">
        <img src="/imgs/texto+imagem-icon.png" alt="" />
        <%=translation.simboloTipo%>
      </button>
      <button id="Ainda não decidi" class="selection-button tipologiasLogo">
        <img src="/imgs/idk-icon.png" alt="" /> <%=translation.naoDecidi%>
      </button>
    </div>
  </div>

  <div class="continue-section">
    <button class="anterior anterior-step-3-logo">
      <%=translation.previous%>
    </button>
    <button id="continuar-step-3-logo" class="continuar">
      <%=translation.continuar%>
    </button>
  </div>
</div>
