<div class="selection onlineStore hide">
  <h1 class="title">3º <%=translation.step%>: Online Store</h1>
  <h2 class="black-subtitle">
    <%=translation.chose%> <b>Online Store</b> <%=translation.step%>:
  </h2>

  <div class="wrapper-column">
    <div>
      <select
        class="choices"
        name="contact-form-online-store"
        id="contact-form-online-store"
      >
        <option class="hide" value="" disabled selected>
          <%=translation.formContact%>?
        </option>
        <option value="yes"><%=translation.yes%></option>
        <option value="no"><%=translation.no%></option>
        <option value="other"><%=translation.outro%></option>
      </select>
      <select
        class="choices"
        name="sec-cert-online-store"
        id="sec-cert-online-store"
      >
        <option class="hide" value="" disabled selected>
          <%=translation.secCert%>?
        </option>
        <option value="yes"><%=translation.yes%></option>
        <option value="no"><%=translation.no%></option>
        <option value="other"><%=translation.outro%></option>
      </select>
    </div>
    <div>
      <select
        class="choices"
        name="domain-hosting-online-store"
        id="domain-hosting-online-store"
      >
        <option class="hide" value="" disabled selected>
          <%=translation.dominio%>?
        </option>
        <option value="yes"><%=translation.yes%></option>
        <option value="no"><%=translation.no%></option>
        <option value="other"><%=translation.outro%></option>
      </select>
      <select
        class="choices"
        name="emails-online-store"
        id="emails-online-store"
      >
        <option class="hide" value="" disabled selected>
          <%=translation.emails%>?
        </option>
        <option value="yes"><%=translation.yes%></option>
        <option value="no"><%=translation.no%></option>
        <option value="other"><%=translation.other%></option>
      </select>
    </div>
    <div>
      <select class="choices" name="langs-online-store" id="langs-online-store">
        <option class="hide" value="" disabled selected>
          <%=translation.linguas%>?
        </option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="other"><%=translation.outro%></option>
      </select>
      <select
        class="choices"
        name="payment-online-store"
        id="payment-online-store"
      >
        <option class="hide" value="" disabled selected>
          Quantas linguas terá o site ?
        </option>
        <option value="yes">sim</option>
        <option value="no">não</option>
        <option value="other">outro</option>
      </select>
    </div>
    <div>
      <select
        class="choices"
        name="billing-online-store"
        id="billing-online-store"
      >
        <option class="hide" value="" disabled selected>
          <%=translation.faturacao%>
        </option>
        <option value="yes"><%=translation.yes%></option>
        <option value="no"><%=translation.no%></option>
        <option value="other"><%=translation.outro%></option>
      </select>
    </div>
  </div>

  <h3 class="micro-title-black"><%=translation.click%>:</h3>
  <div class="continue-section">
    <button id="continuar-step-3-online-store" class="continuar">
      <%=translation.continuar%>
    </button>
    <button id="anterior-step-3-online-store" class="anterior">
      <%=translation.previous%>
    </button>
  </div>
</div>
