<div class="selection googleSeo hide">
  <h1 class="title">3ยบ <%=translation.step%>: Google S.E.O.</h1>
  <h2 class="black-subtitle">
    <%=translation.chose%> <b>Google S.E.O.</b> <%=translation.asService%>:
  </h2>

  <div class="wrapper-column">
    <div>
      <select class="choices" name="revision-seo" id="revision-seo">
        <option class="hide" value="" disabled selected>
          <%=translation.improveSeo%>
        </option>
        <option value="yes"><%=translation.yes%></option>
        <option value="no"><%=translation.no%></option>
      </select>
      <select class="choices" name="improve-seo" id="improve-seo">
        <option class="hide" value="" disabled selected>
          <%=translation.seoRevision%>
        </option>
        <option value="yes"><%=translation.yes%></option>
        <option value="no"><%=translation.no%></option>
      </select>
    </div>
    <div>
      <select
        class="choices"
        name="content-creation-seo"
        id="content-creation-seo"
      >
        <option class="hide" value="" disabled selected>
          <%=translation.contentCreation%>
        </option>
        <option value="yes"><%=translation.yes%></option>
        <option value="no"><%=translation.no%></option>
      </select>
      <select class="choices" name="langs-seo" id="langs-seo">
        <option class="hide" value="" disabled selected>
          <%=translation.seoLangs%>
        </option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="other"><%=translation.outro%></option>
      </select>
    </div>
  </div>

  <div class="continue-section">
    <button id="anterior-step-3-seo" class="anterior">
      <%=translation.previous%>
    </button>
    <button id="continuar-step-3-seo" class="continuar">
      <%=translation.continuar%>
    </button>
  </div>
</div>
