<div class="selection step2 hide">
  <h1 class="title">2ยบ <%=translation.step%>: <%=translation.pais%></h1>
  <h2 class="black-subtitle"><%=translation.escolhaPais%>:</h2>

  <div class="countries">
    <div>
      <button id="Portugal" class="selection-button countrie">
        <img src="/imgs/Flags-1.png" alt="" /> <%=translation.portugal%>
      </button>
      <button id="Spain" class="selection-button countrie">
        <img src="/imgs/Flags-2.png" alt="" /> <%=translation.espanha%>
      </button>
    </div>
    <div>
      <button id="Brazil" class="selection-button countrie">
        <img src="/imgs/Flags-3.png" alt="" /> <%=translation.brasil%>
      </button>
      <button id="Poland" class="selection-button countrie">
        <img src="/imgs/Flags-4.png" alt="" /> <%=translation.polonia%>
      </button>
    </div>
    <div>
      <button id="United Kingdom" class="selection-button countrie">
        <img src="/imgs/Flags-5.png" alt="" /> <%=translation.UK%>
      </button>
      <button id="USA" class="selection-button countrie">
        <img src="/imgs/Flags-6.png" alt="" /> <%=translation.USA%>
      </button>
    </div>
    <div>
      <button id="Australia" class="selection-button countrie">
        <img src="/imgs/Flags-7.png" alt="" /> <%=translation.AU%>
      </button>
      <button id="UAE" class="selection-button countrie">
        <img src="/imgs/Flags-8.png" alt="" /> <%=translation.UAE%>
      </button>
    </div>
  </div>

  <div class="continue-section">
    <button id="anterior-step-2" class="anterior">
      <%=translation.previous%>
    </button>

    <button id="continuar-step-2" class="continuar">
      <%=translation.continuar%>
    </button>
  </div>
</div>
