<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digiquot</title>
  </head>

  <style>
    h2 {
      color: white;
      font-weight: bold;
      margin: 0 0;
    }
    h3 {
      font-size: 14px;
      color: white;
      font-weight: 400;
    }

    ul {
      list-style: none;
      padding: 0;
    }
    li {
      color: white;
      max-width: 320px;
    }
    img {
      margin: 10px 0;
    }
    .content {
      background: rgb(86, 171, 47);
      background: linear-gradient(
        90deg,
        rgba(86, 171, 47, 1) 0%,
        rgba(168, 224, 99, 1) 100%
      );
    }
  </style>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="content">
        <td align="center">
          <img
            src="http://62.171.144.213:3000/imgs/Digiquot_white.png"
            alt=""
          />
          <h2>New Lead</h2>
          <h3>
            Please find below your future client data. Good Luck with your
            project!
          </h3>
          <div>
            <h2>Service: <%= service %></h2>
            <ul>
              <% if( service === 'Website' ) {%>
              <li>Country: <%= data.country%></li>
              <li>Client Name: <%= data.name %></li>
              <li>Client Phone: <%= data.phone %></li>
              <li>Client Email: <%= data.email %></li>
              <li>Client Message: <%= data.message %></li>
              <li>Contact Form: <%= data.form %></li>
              <li>Security Certificate: <%= data.cert %></li>
              <li>Domain and Hosting: <%= data.domainHosting %></li>
              <li>Dedicated Emails: <%= data.emails %></li>
              <li>Number of Languages: <%= data.langs %></li>
              <li>Simulation Cost Freelancer: <%= data.priceFree %>€</li>
              <% } else if ( service === 'Logotipo') { %>
              <li>Country: <%= data.country%></li>
              <li>Client Name: <%= data.name %></li>
              <li>Client Phone: <%= data.phone %></li>
              <li>Client Email: <%= data.email %></li>
              <li>Client Message: <%= data.message %></li>
              <li>Contact Form: <%= data.form %></li>
              <li>Typography: <%= data.tipologia %></li>
              <li>Simulation Cost Freelancer: <%= data.priceFree %>€</li>

              <% } else if(service === 'Online Store') {%>
              <li>Country: <%= data.country%></li>
              <li>Client Name: <%= data.name %></li>
              <li>Client Phone: <%= data.phone %></li>
              <li>Client Email: <%= data.email %></li>
              <li>Client Message: <%= data.message %></li>
              <li>Contact Form: <%= data.form %></li>
              <li>Security Certificate: <%= data.cert %></li>
              <li>Domain and Hosting: <%= data.domainHosting %></li>
              <li>Dedicated Emails: <%= data.emails %></li>
              <li>Number of Languages: <%= data.langs %></li>
              <li>Payment Integration: <%= data.payment %></li>
              <li>Billing Integration: <%= data.billing %></li>
              <li>Simulation Cost Freelancer: <%= data.priceFree %>€</li>
              <%} else if (service === 'Social Networks') {%>
              <li>Country: <%= data.country%></li>
              <li>Client Name: <%= data.name %></li>
              <li>Client Phone: <%= data.phone %></li>
              <li>Client Email: <%= data.email %></li>
              <li>Client Message: <%= data.message %></li>
              <li>Number of Social Networks: <%= data.socialNetworks %></li>
              <li>Posts per week: <%= data.posts %></li>
              <li>Comment managment: <%= data.interaction %></li>
              <li>Social campaign managment: <%= data.publicityManagment %></li>
              <li>Simulation Cost Freelancer: <%= data.priceFree %>€</li>

              <% } else if(service === 'Google SEO') {%>
              <li>Country: <%= data.country%></li>
              <li>Client Name: <%= data.name %></li>
              <li>Client Phone: <%= data.phone %></li>
              <li>Client Email: <%= data.email %></li>
              <li>Client Message: <%= data.message %></li>
              <li>SEO review: <%= data.revision %></li>
              <li>SEO improvement: <%= data.improvement %></li>
              <li>Content Creation: <%= data.contentCreation %></li>
              <li>Number of Languages: <%= data.langs %></li>
              <li>Simulation Cost Freelancer: <%= data.priceFree %>€</li>

              <%} else if(service === 'Google Ads') {%>
              <li>Country: <%= data.country%></li>
              <li>Client Name: <%= data.name %></li>
              <li>Client Phone: <%= data.phone %></li>
              <li>Client Email: <%= data.email %></li>
              <li>Client Message: <%= data.message %></li>
              <li>Number of Countries: <%= data.countries %></li>
              <li>Monthly Managmnet: <%= data.management %></li>
              <li>Monthly Reports: <%= data.report %></li>
              <li>Simulation Cost Freelancer: <%= data.priceFree %>€</li>
              <%} else if (service === 'Cyber Security') {%>
              <li>Country: <%= data.country%></li>
              <li>Client Name: <%= data.name %></li>
              <li>Client Phone: <%= data.phone %></li>
              <li>Client Email: <%= data.email %></li>
              <li>Client Message: <%= data.message %></li>
              <li>Security Certificate Install: <%= data.secCert %></li>
              <li>Pentesting: <%= data.pentesting %></li>
              <li>Network Security Renew: <%= data.renew %></li>
              <li>Attack Simulation: <%= data.simulate %></li>
              <li>Simulation Cost Freelancer: <%= data.priceFree %>€</li>

              <% } else { %> <% for( var p in data) { %>
              <li><%= p %>: <%= data[p] %></li>
              <% } }%>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td align="center">
          <img src="https://digiquot.com/imgs/facebook.png" alt="" />
          <img src="https://digiquot.com/imgs/instagram.png" alt="" />
          <img src="https://digiquot.com/imgs/linkedin.png" alt="" />
        </td>
      </tr>
    </table>
  </body>
</html>
